@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --paragraph-color:rgb(108, 108, 108);
    --button-color:rgb(224, 44, 109);
}


/* shard class  */
 .flex{
    display: flex;
    justify-content: space-between;
    
}

.btn{
    background:var(--button-color);
    border:none;
    padding: 0.5rem 1rem;
    color: white;
}
/* shard class end  */

/* ============================================================== */

/* header  */
header{
    background-color: #2d25a0;
    height: 100vh ;
    color: white;
   
}
.menuicon{
   display: none;
}
nav{
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
    align-items: center;
}
ul li a{
    color: white;
}

.loginbtn> i{
    margin: 0 0.5rem;
}


/* hero div  */
.hero-div{
    width: 80%;
    margin: 2rem auto;
   
}

.livebtn{
    margin: 1rem 0;
}
.livebtn>i{
    margin: 0 0.5rem;
}

.left-side img{
   height:450px;
   width: 100%;
}

/* header end */




/* responsive mobile  */

@media (max-width: 576px) { 

    /* header */
    header{
        height: auto;
    }
    .menuicon{
        display: block;
     }
     ul li{
        display: none;
     }

     .hero-div{
        flex-direction: column;
        margin: 0;
        width: 100%;
     }
     .right-side {
      
       padding: 0 1rem;
     }
     .left-side img{
        width: 100%;
        height: 300px;
     }
     .left-side {
       padding: 0.5rem 1.5rem;
       
     }
     nav{
        width: 100%;
        padding: 1.5rem 1rem;
     }

    /* header end*/
}